{% extends "base.html" %} {% block title %}Atrações{% endblock %} {% block
content %}
<div
	class="slider OriginalsList-2BDzx"
	style="
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		box-sizing: border-box;
		visibility: inherit;
	"
>
	<div class="slider-frame">
		<div class="OriginalsListItem-3u785" aria-hidden="false" tabindex="0">
			<a class="OriginalsItem-2KTwg">
				<div class="OriginalsDetails-2__DH">
					<div class="TopDetails-xTpH5"></div>

					<div>
						<br />
						<h1 align="center" style="font-family: 'Century Gothic'">
							As grandes atrações da aldeia!
						</h1>
                        <br/>
                        <p align="center"><img src="../static/images/touro-home.jpg" width="700" height="275" </p>
                        <br/>
						<div class="BottomDetails-Yt8Rb">
							<div class="Hosts-1JTru">
								<div class="Text-255QD">
									<span class="HostText-1dMSl">
										<span></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div
					class="Container--E0AN"
					style="
						background-image: url(/uploads/20190708233726_Museu-Agricola-da-Atalaia.jpg);
						background-size: cover;
						background-position: center;
					"
				>
					<img class="MainImage-2xQP5" style="opacity: 1; transition:
					opacity 0.3s ease 0s;" "="">
				</div>
			</a>
		</div>
	</div>
</div>

<div>
	<div>
		<div class="Block-3bTS9">
			<div
				class="rightColumn"
				style="float: right; max-width: 349px; position: relative"
			>
				<div class="rightColumnInner"></div>
			</div>

			<div class="ContentBlock-2VKVw">
				<span
					><span
						>Na margem esquerda do Tejo, a cidade do Montijo fica a
						minutos de Lisboa, mas com um carácter que fará a capital
						sentir-se uma vida inteira de distância.&nbsp;</span
					><span>Poucos turistas chegam ao Montijo;&nbsp;</span
					><span
						>é apenas uma comunidade pacata, com bares, onde você pode
						comprar um bico por 50 centavos.</span
					></span
				><br /><br />
				<span
					><span
						>Há uma encantadora igreja antiga no centro, e como a antiga
						indústria da cidade desapareceu, eles foram substituídos por
						museus que mostram como as pessoas viviam da água e da
						terra.&nbsp;</span
					><span
						>Lisboa fica a poucos minutos do outro lado do rio, seja pela
						ponte Vasco da Gama ou pelo serviço de balsa, para uma viagem
						de turismo que você não esquecerá tão cedo.</span
					></span
				><br /><br />
				<div style="clear: both"></div>
				<div
					style="float: none; margin: auto; display: table; padding: 3px"
				>
					<!-- quadrado 336 -->
					<ins
						class="adsbygoogle"
						style="display: inline-block; width: 336px; height: 280px"
						data-ad-client="ca-pub-4688614550965743"
						data-ad-slot="5354264613"
					></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>

				<div style="clear: both"></div>

				<span>Vamos explorar as&nbsp;</span
				><strong>melhores coisas para fazer no Montijo</strong
				><span>&nbsp;:</span><br /><br />
				<h2><span>1. Ferry</span></h2>
				&nbsp;<br /><br />
				<span
					>Esta é a primeira coisa que você deve fazer no Montijo, porque é
					um passeio glorioso através do Tejo.</span
				><br /><br />
				<span
					>O tempo de viagem até ao Terreiro do Paço é de aproximadamente
					30 minutos através de um catamarã rápido, e existem 22 travessias
					por dia, seja na hora ou meia hora.</span
				><br /><br />
				<div style="clear: both"></div>
				<div
					style="float: none; margin: auto; display: table; padding: 3px"
				>
					<!-- Descobre vertical -->
					<ins
						class="adsbygoogle"
						style="display: inline-block; width: 300px; height: 600px"
						data-ad-client="ca-pub-4688614550965743"
						data-ad-slot="9295913716"
					></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>

				<div style="clear: both"></div>

				<span
					>Você invejará as pessoas que conseguirem fazer essa travessia
					todos os dias, à medida que os bairros de Alfama e Baia
					surgissem.</span
				><br /><br />
				<span
					>Há oportunidades fotográficas em todos os ângulos, em direção ao
					imenso Vasco da Gama e à Ponte 25 de Abril ou de volta à estátua
					do Cristo Rei, na margem esquerda de Lamada.</span
				><br /><br />
				<img
					src="../static/images/Ferry-to-Montijo2.jpg"
					width="480"
					height="270"
					frameBorder="0"
				/>
				<br />
				<br />
				<br />
				<h2><span>2. Ponte Vasco da Gama</span></h2>
				&nbsp;<br /><br />
				<span
					>A definição de um megaprojeto, a ponte Vasco da Gama, é a mais
					longa da Europa, se você incluir seus viadutos.</span
				><br /><br />
				<div style="clear: both"></div>
				<div
					style="float: none; margin: auto; display: table; padding: 3px"
				>
					<!-- quadrado 336 -->
					<ins
						class="adsbygoogle"
						style="display: inline-block; width: 336px; height: 280px"
						data-ad-client="ca-pub-4688614550965743"
						data-ad-slot="5354264613"
					></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>

				<div style="clear: both"></div>

				<span
					>Soma-se a 12,3 quilômetros. Começou em 1995 e abriu para a Expo
					98 de Lisboa</span
				><br /><br />
				<span
					>Quando foi concluído, transformou Lisboa, não só porque se
					tornou uma referência visual para o leste sobre o Tejo, mas
					porque ajudou a canalizar o tráfego rodoviário para o norte ou
					sul de Portugal, longe da cidade.</span
				><br /><br />
				<span
					>Quando você está atravessando você não pode nem ver para o outro
					lado da estrutura, enquanto a paisagem urbana de Lisboa é uma
					maravilha de se ver, especialmente se você está indo para o
					norte.</span
				><br /><br />
				<span><br /></span
				><img
					src="../static/images/ponte.jpg"
					width="480"
					height="270"
					frameBorder="0"
				/><br /><br />
				<br />
				<h2><span>3. Igreja Matriz de Montijo</span></h2>
				<div style="clear: both"></div>
				<div
					style="float: none; margin: auto; display: table; padding: 3px"
				>
					<!-- quadrado 336 -->
					<ins
						class="adsbygoogle"
						style="display: inline-block; width: 336px; height: 280px"
						data-ad-client="ca-pub-4688614550965743"
						data-ad-slot="5354264613"
					></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>

				<div style="clear: both"></div>

				&nbsp;<br /><br />
				<span
					>O principal monumento da Praça da República, esta igreja remonta
					ao início dos anos 1400.</span
				><br /><br />
				<span
					>Nas primeiras décadas do século XVI foi remodelado em estilo
					manuelino, e as cantarias desta fase podem ser vistas na abóbada
					da capela-mor, onde os pilares têm delicados motivos
					florais.</span
				><br /><br />
				<span
					>Houve mais mudanças à frente nos anos 1600 e 1700, quando a
					segunda torre da igreja foi adicionada e o interior da nave foi
					revestido com telhas atapete (carpete), e depois grandes painéis
					de azulejos que contam a história da vida de Maria, intervenção
					do Espírito Santo e das prefigurações eucarísticas.</span
				><br /><br />
				<img
					src="../static/images/igreja.jpg"
					width="480"
					height="270"
					frameBorder="0"
				/>
				<br />
				<br />
				<br />
				<h2><span>4. Museu Municipal</span></h2>
				<div style="clear: both"></div>
				<div
					style="float: none; margin: auto; display: table; padding: 3px"
				>
					<!-- Descobre vertical -->
					<ins
						class="adsbygoogle"
						style="display: inline-block; width: 300px; height: 600px"
						data-ad-client="ca-pub-4688614550965743"
						data-ad-slot="9295913716"
					></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>

				<div style="clear: both"></div>

				&nbsp;
				<span
					>Se precisa de um motivo para visitar o museu municipal do
					Montijo é para ver a Casa Mora, o prédio que o abriga.</span
				><br /><br />
				<span
					>Este lindo palácio foi concluído em 1875 por Domingos Tavares e
					Margarida Inácia dos Anjos, que eram um casal de poder local,
					possuindo grandes parcelas de terra na área.</span
				><br /><br />
				<span
					>Tem uma longa varanda reforçada por bonitos cachorros, e no
					telhado, cercado por uma balaustrada, há uma lanterna com vidro
					multicolorido.</span
				><br /><br />
				<span
					>O interior tem uma sensação luxuosa, Beaux-Arts, com afrescos e
					estuque dourado.</span
				><br /><br />
				<span
					>As galerias têm fotos de arquivo da cidade, ferramentas para
					artesanato local tradicional e também uma pequena exposição
					interessante sobre azulejos.</span
				><br /><br />
				<img
					src="../static/images/museu.jpg"
					width="480"
					height="270"
					frameBorder="0"
				/>
				<br />
				<br />
				<br />
				<h2><span>5. Moinho de Maré</span></h2>
				&nbsp;<br /><br />
				<span
					>Um interessante fragmento da indústria ribeirinha do Montijo foi
					restaurado e aberto ao público em 2005. Junto ao antigo Cais das
					Faluas existe um moinho de marés que foi mencionado pela primeira
					vez em 1646, mas a cruz da Ordem de Santiago que se pode ver no
					lintel da porta sugere que é muito mais antigo que isso.</span
				><br /><br />
				<span
					>Todo o caminho até os cereais de 1900 foram enterrados neste
					edifício, aproveitando o fluxo e refluxo do rio Tejo.</span
				><br /><br />
				<span
					><span>Existem dois quartos;&nbsp;</span
					><span
						>um com as pedras de moagem e o outro armazenando a água que
						alimentava esses mecanismos.</span
					></span
				><br /><br />
				<div id="IntentMediaScrollOver">&nbsp;</div>
				<img
					src="../static/images/moinho.jpg"
					width="480"
					height="270"
					frameBorder="0"
				/>
				<br />
				<br />
				<br />
				<h2><span>6. Praia Fluvial Samouco</span></h2>
				&nbsp;<br /><br />
				<span
					>Em um local inesperado há uma praia à direita no estuário.</span
				><br /><br />
				<span
					>Fica apenas a alguns momentos do Montijo e merece uma visita,
					mesmo que só queira saborear os panoramas de Lisboa do outro lado
					da água e a Ponte Vasco da Gama serpenteando à distância.</span
				><br /><br />
				<span
					>Há uma gama surpreendente de amenidades aqui, com guarda-sóis,
					espreguiçadeiras, passarelas de madeira que atravessam a areia,
					playground, piscina e mesas de ténis de mesa.</span
				><br /><br />
				<span
					>Se você quer entrar no Tejo é outra questão, mas a praia é boa
					para relaxar ao sol e olhar para Lisboa.</span
				><br /><br />
				<img
					src="../static/images/praia.jpg"
					width="480"
					height="270"
					frameBorder="0"
				/>
				<br />
				<br />
				<br />
				<h2><span>7. Museu Agrícola da Atalaia</span></h2>
				&nbsp;<br /><br />
				<span
					>Um par de minutos na estrada e você está na zona rural do
					distrito de Setúbal.</span
				><br /><br />
				<span
					>A Quinta Nova da Atalaia, em frente a um pomar, é uma
					propriedade agrícola fundada em 1875. É agora palco de um museu
					que o levará de volta às raízes agrícolas do Montijo.</span
				><br /><br />
				<span
					>Todo o know-how dos velhos tempos e equipamentos para fazer
					azeite e vinho é apresentado aqui, com duas prensas de óleo,
					quatro tanques de fermentação, bem como uma destilaria para fazer
					conhaque.</span
				><br /><br />
				<span>Isto implica uma caldeira, forno e cobre ainda.</span
				><br /><br />
				<span
					>A propriedade é parte integrante da exposição, pois você pode
					passear pelo pomar de laranjeiras e limoeiros e observar o
					sistema tradicional de irrigação.</span
				><br /><br />
				<img
					src="../static/images/atalaia.jpg"
					width="480"
					height="270"
					frameBorder="0"
				/>
				<br />
				<br />
				<br />
				<h2><span>8. Museu do Pescador</span></h2>
				&nbsp;<br /><br />
				<span
					>Escusado será dizer que, como uma comunidade ribeirinha, a pesca
					é no sangue de Montijo.</span
				><br /><br />
				<span
					>E em 2014, um novo museu foi inaugurado no antigo prédio da
					escola Conde Ferreira, pintado com um tom de azul
					impressionante.</span
				><br /><br />
				<span
					>É administrado pelo sindicato regional da pesca (SCUPA), e suas
					cerca de 80 exibições são divididas em seções distintas, cobrindo
					as ferramentas do comércio, com redes, equipamentos de
					manipulação e navegação, mas também a vida doméstica e espiritual
					dos pescadores. , representado por utensílios domésticos e
					painéis de azulejos da Virgem.</span
				><br /><br />
				<span
					>Há um barco de pesca de tamanho normal, uma série de navios
					modelo e muitas ilustrações e fotografias de arquivo.</span
				><br /><br />
				<img
					src="../static/images/museudopescador.jpg"
					width="480"
					height="270"
					frameBorder="0"
				/>
				<br />
				<br />
				<br />
				<h2><span>9. Cinema-Teatro Joaquim d Almeida</span></h2>
				&nbsp;<br /><br />
				<span
					>Há um charme inegável neste cinema e no local de artes
					cênicas.</span
				><br /><br />
				<span>Subiu em 1957 durante o regime de Salazar.</span><br /><br />
				<span
					>Tem as linhas sóbrias que eram típicas de edifícios deste
					período e é embelezada com a escultura de dois artistas
					proeminentes da época, Martins Correia e José Farinha.</span
				><br /><br />
				<span
					>Não é exagero dizer que há sempre alguma coisa acontecendo neste
					local, seja o cinema artístico (filmes em inglês não são
					dublados), dança, teatro, comédia, fado ao vivo, jazz ou música
					clássica.</span
				><br /><br />
				<img
					src="../static/images/teatro.jpg"
					width="480"
					height="270"
					frameBorder="0"
				/>
				<br />
				<br />
				<br />
				<h2><span>10. Forum Montijo</span></h2>
				&nbsp;<br /><br />
				<span
					>Gosta de comprar roupas ou precisa matar o tempo em um dia
					chuvoso você poderia fazer muito pior que este novo shopping no
					Montijo.</span
				><br /><br />
				<span
					>Com marcas como a H &amp; M, a Zara, a Foot Locker e a Lacoste,
					é reconfortante não ter de entrar em Lisboa para uma viagem de
					compras.</span
				><br /><br />
				<span
					>E se aluga alojamento no Montijo existe também uma filial do
					hipermercado Continente.</span
				><br /><br />
				<span
					>Há acesso wi-fi gratuito, playgrounds para os mais pequenos, uma
					ampla seleção de restaurantes e um cinema com a maioria dos
					filmes em inglês com legendas em português.</span
				><br /><br />
				&nbsp;<br /><br />
				<img
					src="../static/images/forum.jpg"
					width="480"
					height="270"
					frameBorder="0"
				/>
				<br />
				<br />
				<br />
				<h2><span>11. Praça de Toiros do Montijo</span></h2>
				<span
					>A Praça de Toiros do Montijo, oficialmente Praça de Toiros
					Amadeu Augusto dos Santos, foi inaugurada a 1 de Setembro de 1957
					e tem uma lotação de 6.281 lugares.</span
				><br /><br />
				<span
					>Após a demolição, em 1950, da antiga Praça de Toiros (inaugurada
					em 1888), foi criada uma Comissão Pró-Praça de Toiros, com o
					objectivo de reunir fundos para a construção de um novo edifício
					taurino. Os grandes obreiros da construção foram Amadeu Augusto
					dos Santos, José Salgado de Oliveira e Isidoro Sampaio de
					Oliveira.</span
				><br /><br />
				<span
					>Segundo projecto do arquitecto Amadeu José Gomes dos Santos,
					filho de Amadeu Augusto dos Santos, a construção da nova Praça de
					Toiros decorreu de 1 de Abril a 28 de Agosto de 1957. A
					propriedade foi entregue à Santa Casa da Misericórdia do
					Montijo.</span
				><br /><br />
				<span
					>A Corrida de Toiros inaugural, de gala à antiga portuguesa,
					decorreu a 1 de Setembro de 1957 e foi presidida pelo
					Governador-Civil de Setúbal, Dr. Miguel Bastos.</span
				><br /><br />
				<span
					>Atualmente, esta praça acolhe diversos espectáculos
					tauromáquicos ao longo do ano, especialmente durante as Festas
					Populares de São Pedro. Aqui também coexistem dois grupos de
					forcados desta cidade que frequentam esta praça: O Grupo de
					Forcados Amadores do Montijo e a Tertúlia Tauromáquica do
					Montijo.</span
				><br /><br />
				<img
					src="../static/images/ohtoiro.jpg"
					width="480"
					height="270"
					frameBorder="0"
				/>
				<br />
				<br />
				<br />
				<h2><span>12. Oceanário de Lisboa</span></h2>
				<div id="attachment_34883" class="wp-caption aligncenter">
					&nbsp;
				</div>
				<div class="wp-caption aligncenter">&nbsp;</div>
				<div class="wp-caption aligncenter">
					<span
						>A atracção principal da Expo 98 e do Parque das Nações é este
						aquário de classe mundial, e é um dia obrigatório se estiver
						aqui com crianças.</span
					><br /><br />
					<span
						>Existem mais de 16.000 animais nestes tanques
						maravilhosamente iluminados.</span
					><br /><br />
					<span
						>A peça central é um enorme aquário, com sete metros de
						profundidade, simulando um ambiente oceânico com raias,
						tubarões e gigantescos peixes-lua, além de alimentadores
						inferiores na areia abaixo.</span
					><br /><br />
					<span
						>Os outros recintos imitam ambientes naturais em todo o
						planeta, sejam recifes tropicais no Oceano Índico ou uma zona
						antártica que abriga pingüins.</span
					><br /><br />
					<img
						src="../static/images/oceano.jpg"
						width="480"
						height="270"
						frameBorder="0"
					/>
					<br />
					<br />
					<br />
					<h2><span>13. Pavilhão do Conhecimento</span></h2>
					&nbsp;<br /><br />
					<span
						>pode fazer um duplo cabeçalho para os pequenos neste museu de
						ciências interativo apenas pelo Oceanário.</span
					><br /><br />
					<span
						>Há exposições em grande escala em diferentes campos da
						ciência, bem como módulos permanentes que incentivam as
						crianças a explorar a matemática, a física, o corpo humano e a
						tecnologia de formas ativas e práticas.</span
					><br /><br />
					<span
						>Você pode construir circuitos elétricos e corridas de
						mármore, andar de bicicleta em um fio elétrico, construir sua
						própria casa, fazer aviões de papel, aprender como as
						bactérias se espalham, tornar-se um astronauta e muito
						mais.</span
					><br /><br />
					<span
						>Todas as atividades são assistidas por um pequeno exército de
						funcionários, ajudando as crianças a se recuperarem
						imediatamente.</span
					><br /><br />
					<img
						src="../static/images/pavilhao.jpg"
						width="480"
						height="270"
						frameBorder="0"
					/>
					<br />
					<br />
					<br />
					<h2><span>14. Parque das Nações</span></h2>
					&nbsp;<br /><br />
					<span
						>Na construção da Expo 98, todo o nordeste de Lisboa foi
						revitalizado com um centro comercial, uma torre de observação,
						uma marina e modernos edifícios residenciais.</span
					><br /><br />
					<span
						>Foi o maior projeto de redesenvolvimento urbano na
						Europa.</span
					><br /><br />
					<span
						>Dependendo do tráfego, você pode atingir esse desenvolvimento
						em cerca de 15 minutos.</span
					><br /><br />
					<span
						>É uma visita para fazer à noite, pois o bairro tem uma
						sensação metropolitana quando as torres de escritórios estão
						iluminadas.</span
					><br /><br />
					<span
						>Você pode escalar a torre Vasco da Gama para ter uma visão
						ininterrupta do rio e da ponte, fazer uma viagem no
						teleférico, passear pelos jardins aquáticos ou escolher entre
						uma infinidade de restaurantes e bares.</span
					><br /><br />
					<img
						src="../static/images/parque.jpg"
						width="480"
						height="270"
						frameBorder="0"
					/>
					<br />
					<br />
					<br />
					<h2><span>15. Lisboa</span></h2>
					&nbsp;<br /><br />
					<span>E de lá a capital de Portugal é sua ostra.</span
					><br /><br />
					<span
						>Se você usar o metrô para se locomover, nenhuma visão estará
						fora de alcance.</span
					><br /><br />
					<span
						>Algo que todo visitante deve fazer é ir para o oeste até o
						bairro de Belém, onde encontram-se duas das sete maravilhas de
						Portugal.</span
					><br /><br />
					<span
						>A Torre de Belém é uma fortaleza do século XVI, mas forjada
						com um acabamento surpreendente.</span
					><br /><br />
					<span
						>O mesmo se aplica ao Mosteiro dos Jerónimos, que possui
						trabalhos em pedra de estilo manuelino e renascentista.</span
					><br /><br />
					<span
						>Depois disso, não há limite para as coisas que você pode
						fazer, seja pilotando os funiculares e bondes antigos em
						Alfama, pegando fado na Bairra Alta ou entrando em contato com
						o artesanato de azulejos de Portugal no National Tile
						Museum.</span
					><br /><br />
					<img
						src="../static/images/lisboa.jpg"
						width="480"
						height="270"
						frameBorder="0"
					/>
					<br />
					<br />
					<br />
				</div>
				<span><br /></span><br /><br />

				<div style="clear: both"></div>
				<style>
					.part-col {
						padding: 0;
						width: 50%;
						margin: auto;
						display: table;
					}

					.orange {
						background-color: #00aeff;
					}

					.orange .next-up {
						font-weight: 800;
						max-width: 350px;
						color: #fff;
						line-height: 25px;
						font-size: 18px;
						position: relative;
						padding: 12px 0;
						text-align: center;
					}
					.part-navigation {
						border-radius: 5px;
						overflow: hidden;
						margin-bottom: 24px;
						margin-top: 24px;
					}
					.inline {
						display: inline-block;
						list-style: none;
						margin: 0;
						padding-top: 20px;
					}

					.inline li {
						display: inline-block;
						vertical-align: middle;
					}
				</style>

				<div style="clear: both; height: 30px"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}