{% extends 'base.html' %} {% block title %}Capital da Flor{% endblock %} {% block
content %}
<div class="page-container">
	<div class="page-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main page-offset-bottom">
				<div class="vc_row">
					<div class="vc_col-lg-12">
						<!-- <div class="vc_col-lg-8 vc_col-lg-push-2"> -->
						<article
							id="post-6917"
							class="
								post-6917 post
								type-post
								status-publish
								format-standard
								has-post-thumbnail
								hentry
								category-produtores
							"
						>
							<div class="entry-content">
								<div class="vc_row wpb_row vc_row-fluid">
									<div
										class="
											wpb_column
											vc_column_container vc_col-sm-12
										"
									>
										<div class="vc_column-inner">
											<div class="wpb_wrapper">
												<div
													class="
														wpb_single_image
														wpb_content_element
														vc_align_left
													"
												>
													<br />
													<h1
														align="center"
														style="
															font-family: 'Century Gothic';
														"
													>
														Montijo a grande capital
														da flor!
													</h1>
													<br />
													<figure
														class="
															wpb_wrapper
															vc_figure
														"
													>
														<div
															class="
																vc_single_image-wrapper
																vc_box_border_grey
															"
														>
															<p align="center"><img
																src="../static/images/OzeArv_3.jpg"
                                                                width="700"
                                                                height="250"
                                                            /></p>
														</div>
													</figure>
												</div>
												<div
													class="vc_empty_space"
													style="height: 32px"
												>
													<span
														class="
															vc_empty_space_inner
														"
													></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row wpb_row vc_row-fluid">
									<div
										class="
											wpb_column
											vc_column_container vc_col-sm-12
										"
									>
										<div class="vc_column-inner">
											<div class="wpb_wrapper">
												<div
													class="
														wpb_text_column
														wpb_content_element
													"
												>
													<div class="wpb_wrapper">
														<p>
															Hoje viemos
															falar-vos da Capital
															da Flor. Para
															aqueles que já nos
															conhecem um pouco
															melhor, certamente
															já viram algures o
															nosso slogan
															<em
																>“A sua florista
																na capital da
																flor”</em
															>, verdade?
														</p>
														<p>
															A Flores no Cais já
															tem mais de dois
															anos e achámos justo
															partilhar com vocês
															um pouco mais da
															nossa história.
															Queremos muito que
															as nossas flores
															continuem a
															transmitir-vos as
															melhores emoções e
															sensações do mundo.
															Comecemos pelas
															sementes…
														</p>
														<h4>
															Com raízes na
															produção
														</h4>
														<p>
															Mas afinal, porque
															temos sempre tanta
															variedade de flor
															fresca a preços
															competitivos?
															Localizada a dois
															minutos da nossa
															loja do Cais do
															Seixalinho, a
															<a
																href="https://www.florineve.pt/"
																target="_blank"
																rel="noopener noreferrer"
																>Florineve</a
															>
															é o nosso parceiro
															de confiança, com
															mais de 20 anos de
															atividade, dedica-se
															à produção e
															comércio de flores
															de corte. É por este
															motivo que por vezes
															afirmamos que temos
															“raízes na
															produção”.
														</p>
														<blockquote>
															<p>
																“Na Florineve,
																Cultivamos
																Paixão… Colhemos
																amor.”
															</p>
														</blockquote>
														<h6>
															Victor Araújo,
															gerente da Florineve
															e Presidente da
															APPPFN
														</h6>
														<p>
															Atualmente, conta
															com mais de 50
															variedades de flores
															distribuídas em mais
															de 30 hectares de
															estufas.
															<strong
																>Só na
																Florineve, cerca
																de 60.000 pés de
																flores são
																colhidos
																diariamente…</strong
															>
															Flores essas que
															chegam com o mínimo
															de intermediários
															até si, prontas para
															lhe criar sorrisos e
															despertar emoções
															que duram muito mais
															tempo!
														</p>
														<h4>
															Flores do Montijo
														</h4>
														<p
															style="
																text-align: left;
															"
														>
															A marca
															<a
																href="http://www.apppfn.pt/eventos/flores-do-montijo"
																target="_blank"
																rel="noopener noreferrer"
																>Flores do
																Montijo</a
															>
															resulta da união de
															mais de 30
															produtores da
															região, através da
															<a
																href="http://www.apppfn.pt/"
																target="_blank"
																rel="noopener noreferrer"
																>APPPFN</a
															>
															(Associação
															Portuguesa de
															Produtores de
															Plantas e Flores
															Naturais), onde
															<strong
																>juntos são
																responsáveis por
																mais de 70% da
																flor produzida
																em estufa no
																nosso
																país</strong
															>. Aqui,
															diariamente, é
															estimado que seja
															produzido meio
															milhão de pés de
															flores de diferentes
															variedades,
															distribuído por mais
															de 200 hectares.
														</p>
														<p>
															Muitos destes
															valores devem-se ao
															facto da região do
															Montijo ter um
															microclima favorável
															ao desenvolvimento
															destas flores tão
															elegantes, onde
															temos como principal
															a protagonista as
															<a
																href="https://floresnocais.pt/flor/gerberas"
																target="_blank"
																rel="noopener noreferrer"
																>Gerberas</a
															>, entre muitas
															outras variedades
															como
															<a
																href="https://floresnocais.pt/flor/rosas"
																target="_blank"
																rel="noopener noreferrer"
																>Rosas</a
															>,
															<a
																href="https://floresnocais.pt/flor/cravos"
																target="_blank"
																rel="noopener noreferrer"
																>Cravos</a
															>,
															<a
																href="https://floresnocais.pt/flor/lirios"
																target="_blank"
																rel="noopener noreferrer"
																>Lilium</a
															>,
															<a
																href="https://floresnocais.pt/flor/margaridas"
																target="_blank"
																rel="noopener noreferrer"
																>Margaridas</a
															>, etc…
														</p>
													</div>
												</div>
												<div
													class="vc_empty_space"
													style="height: 32px"
												>
													<span
														class="
															vc_empty_space_inner
														"
													></span>
												</div>
												<div
													class="
														wpb_video_widget
														wpb_content_element
														vc_clearfix
														vc_video-aspect-ratio-169
														vc_video-el-width-100
														vc_video-align-left
													"
												>
													<div class="wpb_wrapper">
														<div
															class="
																wpb_video_wrapper
															"
														>
															<iframe
																title="Flores no Cais — A sua Florista na Capital da Flor | Promo"
																width="640"
																height="360"
																src="https://www.youtube.com/embed/ngdzAt8uCYw?feature=oembed"
																frameborder="0"
																allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
																allowfullscreen=""
															></iframe>
														</div>
													</div>
												</div>
												<div
													class="vc_empty_space"
													style="height: 32px"
												>
													<span
														class="
															vc_empty_space_inner
														"
													></span>
												</div>
												<div
													class="
														wpb_text_column
														wpb_content_element
													"
												>
													<div class="wpb_wrapper">
														<h4>
															E a Flores no Cais?
														</h4>
														<p>
															Estamos na Capital
															da Flor onde, como
															agora já sabem, a
															natureza conspira a
															nosso favor! Foi em
															Janeiro de 2017, que
															inaugurámos a nossa
															primeira loja
															no<strong>
																Cais do
																Seixalinho</strong
															>. Uma euforia de
															emoções, cor por
															todo o lado e as
															nossas gerberas a
															espalharem magia
															pelas mãos de quem
															saia e entrava nos
															barcos que ali
															atracavam. Uma loja
															cheia de luz, cor,
															energia e acima de
															tudo sorrisos.
														</p>
														<p>
															Assim, em Fevereiro
															de 2018, um mês
															repleto de paixão e
															amor, uma segunda
															loja abre portas no
															<strong
																>Fórum
																Montijo.</strong
															>
															Conseguimos deste
															modo fazer chegar as
															nossas flores a um
															maior leque de
															pessoas para
															continuar a tornar
															os dias dos
															Portugueses mais
															bonitos e floridos.
														</p>
														<p>
															Com o aumento da
															procura, decidimos
															abrir completamente
															o caminho e agora
															sim, em Janeiro de
															2019, a nossa
															<a
																href="https://floresnocais.pt/loja/"
																>loja online</a
															>
															dá asas às nossas
															flores. Com um leque
															de oferta enorme e
															entregas gratuitas
															em qualquer ponto de
															Portugal
															continental, as
															nossas flores
															batem-lhe à porta!
														</p>
														<p>
															Por aqui germinam as
															mais bonitas flores
															do país, temos
															estufas cobertas de
															cor, e um propósito
															muito bem definido:
															Florir Portugal.
															<strong
																>Acreditamos que
																as flores
																existem para nos
																ajudar a
																celebrar os
																melhores
																momentos da
																vida, criar
																sorrisos e
																despertar
																emoções.</strong
															>
														</p>
														<p>
															Qual foi a
															curiosidade que
															achou mais
															interessante neste
															artigo? Conte-nos
															tudo nos
															comentários!
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- .entry-content -->

							<footer class="entry-footer">
								<div class="entry-footer-tags"></div>
								<div class="entry-footer-share"></div>
							</footer>
							<!-- .entry-footer -->
						</article>
						<!-- #post-## -->
					</div>
				</div>
			</main>
			<!-- #main -->
		</div>
		<!-- #primary -->
	</div>
</div>
{% endblock %}