{% extends 'base.html' %} {% block title %}História{% endblock %} {% block
content %}
<a>
	<br />

	<h1 align="center" style="font-family: 'Century Gothic'">
		História da terra
	</h1>
	<br />
	<p align="center"><img src="../static/images/desenhobaldi.jpg" width="700" height="250"/></p>
	<br />
	<p>
		Montijo tem a sua história intimamente ligada ao
		<a href="/wiki/Rio_Tejo" title="Rio Tejo">Rio Tejo</a>, pois grande parte
		da sua área geográfica é delimitada pelo mesmo. A presença humana fez-se
		sentir naquela região desde muito cedo (pelo menos desde o
		<a href="/wiki/Paleol%C3%ADtico" title="Paleolítico">Paleolítico</a>,
		segundo vestígios arqueológicos encontrados), devido, muito provavelmente,
		às excelentes condições naturais.<sup id="cite_ref-9" class="reference"
			><a href="#cite_note-9"><span>[</span>9<span>]</span></a></sup
		>
	</p>
	<p>
		Nos alvores da nacionalidade (<a
			href="/wiki/S%C3%A9culo_XII"
			title="Século XII"
			>século XII</a
		>), os <a href="/wiki/Couto" title="Couto">coutos</a> e herdades que
		existiam na atual área do concelho de Montijo foram doados por
		<a href="/wiki/Sancho_I_de_Portugal" title="Sancho I de Portugal"
			>D. Sancho I</a
		>, em <a href="/wiki/1186" title="1186">1186</a>, aos Cavaleiros da
		<a href="/wiki/Ordem_de_Santiago" title="Ordem de Santiago"
			>Ordem de Santiago</a
		>. Mais tarde, por aqui passaria
		<a
			href="/wiki/D._Paio_Peres_Correia"
			class="mw-redirect"
			title="D. Paio Peres Correia"
			>D. Paio Peres Correia</a
		>, Mestre daquela
		<a href="/wiki/Ordem_de_Santiago" title="Ordem de Santiago">Ordem</a>.
	</p>
	<p>
		O núcleo populacional, habitado principalmente por pescadores e
		<a href="/wiki/Sal" title="Sal">salineiros</a>, muitos deles vindos das
		<a href="/wiki/Rias_Baixas" title="Rias Baixas">Rías Galegas</a> e do
		litoral norte de
		<a href="/wiki/Portugal" title="Portugal">Portugal</a> (fruto do processo
		de repovoamento decorrente da
		<a href="/wiki/Reconquista" title="Reconquista">reconquista cristã</a>),
		começou a desenvolver-se desde que, na menoridade de
		<a href="/wiki/Afonso_V_de_Portugal" title="Afonso V de Portugal"
			>D. Afonso V</a
		>, o regente
		<a
			href="/wiki/Pedro_de_Portugal,_1.%C2%BA_Duque_de_Coimbra"
			title="Pedro de Portugal, 1.º Duque de Coimbra"
			>D. Pedro</a
		>
		e o Mestre da
		<a href="/wiki/Ordem_de_Santiago" title="Ordem de Santiago"
			>Ordem de Santiago</a
		>, o
		<a
			href="/wiki/Jo%C3%A3o,_Infante_de_Portugal"
			class="mw-redirect"
			title="João, Infante de Portugal"
			>infante D. João</a
		>, ambos tios do monarca, mandaram desassorear o esteiro de
		<a href="/wiki/Alhos_Vedros" title="Alhos Vedros">Alhos Vedros</a>,
		construindo para o efeito uma estacada.
	</p>
	<p>
		Em <a href="/wiki/1385" title="1385">1385</a>,
		<a href="/wiki/Jo%C3%A3o_I_de_Portugal" title="João I de Portugal"
			>D. João I</a
		>
		confirma os privilégios dados por
		<a href="/wiki/Sancho_I_de_Portugal" title="Sancho I de Portugal"
			>D. Sancho</a
		>. Mais tarde, em <a href="/wiki/1445" title="1445">1445</a>, por carta
		régia de
		<a href="/wiki/Afonso_V_de_Portugal" title="Afonso V de Portugal"
			>D. Afonso V</a
		>, os coutos e terras de Aldeia Gallega são afetos ao património da rainha
		<a
			href="/wiki/Isabel_de_Avis,_Rainha_de_Portugal"
			title="Isabel de Avis, Rainha de Portugal"
			>D. Isabel de Avis</a
		>.<sup id="cite_ref-10" class="reference"
			><a href="#cite_note-10"><span>[</span>10<span>]</span></a></sup
		>
	</p>
	<p>
		No primeiro quartel do
		<a href="/wiki/S%C3%A9culo_XIV" title="Século XIV">século XIV</a>, os
		agricultores e fazendeiros de Aldeia Gallega, sob a proteção da
		<a href="/wiki/Ordem_de_Santiago" title="Ordem de Santiago"
			>Ordem de Santiago</a
		>, erguem a
		<a
			href="/w/index.php?title=Ermida_de_S%C3%A3o_Sebasti%C3%A3o_(Montijo)&amp;action=edit&amp;redlink=1"
			class="new"
			title="Ermida de São Sebastião (Montijo) (página não existe)"
			>Ermida de São Sebastião</a
		>, que terá sido
		<a href="/wiki/Igreja_Matriz" class="mw-redirect" title="Igreja Matriz"
			>matriz</a
		>
		da localidade até à construção da
		<a
			href="/w/index.php?title=Igreja_Matriz_de_Montijo&amp;action=edit&amp;redlink=1"
			class="new"
			title="Igreja Matriz de Montijo (página não existe)"
			>Igreja do Divino Espírito Santo</a
		>, no <a href="/wiki/S%C3%A9culo_XVI" title="Século XVI">século XVI</a>.
	</p>
	<p>
		Em março de <a href="/wiki/1498" title="1498">1498</a>
		<a href="/wiki/Manuel_I_de_Portugal" title="Manuel I de Portugal"
			>D. Manuel I</a
		>
		parte para <a href="/wiki/Toledo" title="Toledo">Toledo</a> a fim de ser
		jurado príncipe herdeiro de
		<a href="/wiki/Reino_de_Castela" title="Reino de Castela">Castela</a> e
		<a href="/wiki/Reino_de_Le%C3%A3o" title="Reino de Leão">Leão</a>, ao
		passar por Aldeia Gallega e ouvir as suas gentes, ordena a construção de
		um poço público junto à velha
		<a
			href="/wiki/Albergaria"
			class="mw-redirect mw-disambig"
			title="Albergaria"
			>Albergaria</a
		>, onde funcionava o Hospital da Caridade.
	</p>
	<p>
		O mesmo rei
		<a href="/wiki/Manuel_I_de_Portugal" title="Manuel I de Portugal"
			>D. Manuel</a
		>
		outorgou <a href="/wiki/Foral" title="Foral">foral</a> à vila a 15 de
		setembro de <a href="/wiki/1514" title="1514">1514</a>, desanexando-a da
		antiga freguesia de
		<a
			href="/wiki/S%C3%A3o_Francisco_(Alcochete)"
			title="São Francisco (Alcochete)"
			>Santa Maria de Sabonha</a
		>. No ano seguinte, a 17 de janeiro de
		<a href="/wiki/1515" title="1515">1515</a>, renovou o foral, num diploma
		único para as duas vilas de Aldeia Gallega do Ribatejo e
		<a href="/wiki/Alcochete" title="Alcochete">Alcochete</a>.
	</p>
	<p>
		Em <a href="/wiki/1520" title="1520">1520</a> é fundada a
		<a
			href="/wiki/Santa_Casa_da_Miseric%C3%B3rdia"
			title="Santa Casa da Misericórdia"
			>Santa Casa da Misericórdia de Aldeia Gallega do Ribatejo</a
		>
		e, em <a href="/wiki/1571" title="1571">1571</a>, por carta régia de
		<a href="/wiki/D._Sebasti%C3%A3o" class="mw-redirect" title="D. Sebastião"
			>D. Sebastião</a
		>, é construída a
		<a
			href="/w/index.php?title=Igreja_da_Miseric%C3%B3rdia_de_Montijo&amp;action=edit&amp;redlink=1"
			class="new"
			title="Igreja da Misericórdia de Montijo (página não existe)"
			>Igreja da Misericórdia</a
		>
		(classificada em 2009 como Imóvel de Interesse Público pelo
		<a href="/wiki/IPPAR" class="mw-redirect" title="IPPAR">IPPAR</a>)<sup
			id="cite_ref-11"
			class="reference"
			><a href="#cite_note-11"><span>[</span>11<span>]</span></a></sup
		><sup id="cite_ref-12" class="reference"
			><a href="#cite_note-12"><span>[</span>12<span>]</span></a></sup
		>
	</p>
	<p>
		O
		<a href="/wiki/Correio-mor" class="mw-redirect" title="Correio-mor"
			>correio-mor</a
		>,
		<a
			href="/w/index.php?title=D._Lu%C3%ADs_Afonso&amp;action=edit&amp;redlink=1"
			class="new"
			title="D. Luís Afonso (página não existe)"
			>D. Luís Afonso</a
		>, fez de Aldeia Gallega do Ribatejo, em
		<a href="/wiki/1533" title="1533">1533</a>, a sede da
		<a href="/wiki/Mala-posta" title="Mala-posta">Posta</a> nas comunicações
		com o Sul de <a href="/wiki/Portugal" title="Portugal">Portugal</a>, e
		iniciam-se os trabalhos de melhoramentos e arranjos da Estrada Real (atual
		<a href="/wiki/EN4" title="EN4">Estrada Nacional 4</a>) que liga Lisboa a
		<a href="/wiki/Badajoz" title="Badajoz">Badajoz</a>, tornando a povoação
		ponto de passagem obrigatória para quem se dirigia à capital do Reino ou
		dela provinha. Desta forma a vila conheceu grande desenvolvimento e
		abastança, em particular durante a
		<a href="/wiki/Dinastia_filipina" title="Dinastia filipina"
			>dinastia filipina</a
		>, dado o crescente tráfego entre
		<a href="/wiki/Lisboa" title="Lisboa">Lisboa</a>,
		<a href="/wiki/Toledo" title="Toledo">Toledo</a>,
		<a href="/wiki/Madrid" title="Madrid">Madrid</a> e restante
		<a href="/wiki/Imp%C3%A9rio_Espanhol" title="Império Espanhol">Espanha</a
		>. Também do período
		<a href="/wiki/Dinastia_filipina" title="Dinastia filipina">filipino</a> é
		a aprovação da Irmandade de Nossa Senhora da Conceição, em
		<a href="/wiki/1608" title="1608">1608</a>, constituída por mareantes; bem
		como obras e melhoramentos na Igreja Matriz e na Vila.
	</p>
	<p>
		Foi na então Aldeia Gallega do Ribatejo que o duque de Bragança, aclamado
		rei em Lisboa como
		<a href="/wiki/Jo%C3%A3o_IV_de_Portugal" title="João IV de Portugal"
			>D. João IV</a
		>, em virtude do êxito da
		<a
			href="/wiki/Restaura%C3%A7%C3%A3o_da_Independ%C3%AAncia"
			title="Restauração da Independência"
			>revolução de 1 de Dezembro de 1640</a
		>, ao dirigir-se de
		<a href="/wiki/Vila_Vi%C3%A7osa" title="Vila Viçosa">Vila Viçosa</a> para
		<a href="/wiki/Lisboa" title="Lisboa">Lisboa</a>, reuniu o primeiro
		Conselho Régio de que saíram nomeados os seus ministros e a constituição
		do
		<a
			href="/wiki/Conselho_de_Guerra_de_Portugal"
			title="Conselho de Guerra de Portugal"
			>Conselho de Guerra Permanente</a
		>, bem como expedidas as primeiras ordens para as fronteiras do reino.
		Neste Conselho Régio, que se realizou no Palácio dos
		<a href="/wiki/Conde_de_S%C3%A3o_Miguel" title="Conde de São Miguel"
			>Condes de São Miguel</a
		>, estiveram presentes
		<a
			href="/wiki/Francisco_de_Melo,_3.%C2%BA_marqu%C3%AAs_de_Ferreira"
			title="Francisco de Melo, 3.º marquês de Ferreira"
			>D. Francisco de Melo, marquês de Ferreira</a
		>;
		<a
			href="/w/index.php?title=D._Francisco_%C3%81lvares_Botelho&amp;action=edit&amp;redlink=1"
			class="new"
			title="D. Francisco Álvares Botelho (página não existe)"
			>D. Francisco Álvares Botelho</a
		>,
		<a href="/wiki/Conde_de_S%C3%A3o_Miguel" title="Conde de São Miguel"
			>Conde de São Miguel</a
		>; <a href="/wiki/Jorge_de_Melo" title="Jorge de Melo">Jorge de Melo</a>,
		<a
			href="/wiki/General_das_gal%C3%A9s"
			class="mw-redirect"
			title="General das galés"
			>General das galés</a
		>;
		<a
			href="/w/index.php?title=D._Pedro_de_Mendon%C3%A7a_Furtado&amp;action=edit&amp;redlink=1"
			class="new"
			title="D. Pedro de Mendonça Furtado (página não existe)"
			>D. Pedro de Mendonça Furtado</a
		>,
		<a href="/wiki/Alcaide-mor" class="mw-redirect" title="Alcaide-mor"
			>alcaide-mor</a
		>
		de Mourão e "muitos fidalgos e clérigos idos de Lisboa".<sup
			id="cite_ref-13"
			class="reference"
			><a href="#cite_note-13"><span>[</span>13<span>]</span></a></sup
		>
	</p>
	<p>
		Em outubro de <a href="/wiki/1843" title="1843">1843</a> Aldeia Gallega
		recebeu, com pompa e circunstância, os reis
		<a href="/wiki/D._Maria_II" class="mw-redirect" title="D. Maria II"
			>D. Maria II</a
		>
		e
		<a href="/wiki/Fernando_II_de_Portugal" title="Fernando II de Portugal"
			>D. Fernando</a
		>, o
		<a href="/wiki/Lu%C3%ADs_I_de_Portugal" title="Luís I de Portugal"
			>infante D. Luís</a
		>,
		<a href="/wiki/Duque_do_Porto" title="Duque do Porto">Duque do Porto</a>,
		o Presidente do Conselho de Ministros
		<a
			href="/wiki/Ant%C3%B3nio_Jos%C3%A9_de_Sousa_Manoel_de_Meneses_Severim_de_Noronha,_Duque_da_Terceira"
			class="mw-redirect"
			title="António José de Sousa Manoel de Meneses Severim de Noronha, Duque da Terceira"
			>Duque da Terceira</a
		>
		e restante comitiva. Do programa oficial destaca-se a receção no Cais das
		Faluas onde foi erguido um arco triunfal em madeira; o
		<i>Te Deum</i> celebrado na
		<a
			href="/w/index.php?title=Igreja_Matriz_de_Montijo&amp;action=edit&amp;redlink=1"
			class="new"
			title="Igreja Matriz de Montijo (página não existe)"
			>Igreja Matriz</a
		>
		e as cerimónias protocolares nas quais foram entregues a
		<a href="/wiki/Maria_II_de_Portugal" title="Maria II de Portugal"
			>D. Maria II</a
		>, por mão do Presidente do Senado Municipal, as "Chaves da Vila", tendo a
		rainha proferido um emocionado discurso. Após o banquete oferecido pelo
		Senado Municipal (que contou com a presença dos
		<a href="/wiki/Conde_de_S%C3%A3o_Miguel" title="Conde de São Miguel"
			>Condes de São Miguel</a
		>, do proprietário agrícola João Ferreira Prego, 1º
		<a
			href="/wiki/Bar%C3%A3o_de_Samora_Correia"
			class="mw-redirect"
			title="Barão de Samora Correia"
			>Barão de Samora Correia</a
		>, e de ilustres montijenses), a família real realizou um passeio noturno
		pelo centro da vila piscatória, tendo pernoitado nos Paços do
		Concelho.<sup id="cite_ref-14" class="reference"
			><a href="#cite_note-14"><span>[</span>14<span>]</span></a></sup
		><sup id="cite_ref-15" class="reference"
			><a href="#cite_note-15"><span>[</span>15<span>]</span></a></sup
		>
	</p><br/><img
        src="../static/images/montijo2.jpg"
    /><br/><br/>
	<p>
		As visitas Reais e o crescimento económico e demográfico da Vila no
		<a href="/wiki/S%C3%A9culo_XIX" title="Século XIX">século XIX</a>
		reafirmaram a importância de Aldeia Gallega. A 25 de maio de
		<a href="/wiki/1879" title="1879">1879</a> foi inaugurado (no atual
		edifício dos Paços do Concelho) o novo Tribunal e Cadeia Comarcã, contando
		com a presença do Presidente do Conselho de Ministros,
		<a href="/wiki/Fontes_Pereira_de_Melo" title="Fontes Pereira de Melo"
			>Fontes Pereira de Melo</a
		>, do Ministro dos Negócios Estrangeiros,
		<a href="/wiki/Jo%C3%A3o_de_Andrade_Corvo" title="João de Andrade Corvo"
			>Andrade Corvo</a
		>, entre outros destacados membros do Governo e da Corte.
	</p>
	<p>
		Em <a href="/wiki/1901" title="1901">1901</a> é aprovada, por Decreto do
		Governo, a substituição da iluminação pública a petróleo pela iluminação
		elétrica. Contudo, por diversas dificuldades e demoras, somente a 1 de
		maio de <a href="/wiki/1911" title="1911">1911</a> é que Aldeia Gallega
		inaugurou a luz elétrica, com grande festa na Vila e com a presença do
		Ministro do Interior e do Governador Civil.
	</p>
	<p>
		Entre <a href="/wiki/1907" title="1907">1907</a> e
		<a href="/wiki/1908" title="1908">1908</a> foi construído o
		<a
			href="/wiki/Ramal_de_Montijo"
			class="mw-redirect"
			title="Ramal de Montijo"
			>Ramal de Aldeia Gallega</a
		>, financiado exclusivamente pela autarquia sem recorrer ao Fundo Especial
		de Caminhos de Ferro. O Ramal de Montijo foi encerrado em
		<a href="/wiki/1989" title="1989">1989</a> sob o
		<a
			href="/wiki/XI_Governo_Constitucional_de_Portugal"
			title="XI Governo Constitucional de Portugal"
			>XI Governo Constitucional</a
		>.
	</p>
	<p>
		O associativismo esteve sempre muito presente no espírito de Aldeia
		Gallega e dos montijenses. Assim, em
		<a href="/wiki/1854" title="1854">1854</a> foi fundada a
		<a
			href="/w/index.php?title=Sociedade_Filarm%C3%B3nica_1%C2%BA_de_Dezembro&amp;action=edit&amp;redlink=1"
			class="new"
			title="Sociedade Filarmónica 1º de Dezembro (página não existe)"
			>Sociedade Filarmónica 1º de Dezembro</a
		>; em <a href="/wiki/1872" title="1872">1872</a> a Associação Fraternal do
		Montepio de Aldegalega; em <a href="/wiki/1909" title="1909">1909</a> a
		Associação Humanitária dos Bombeiros Voluntários de Aldeia Gallega; em
		<a href="/wiki/1913" title="1913">1913</a> a
		<a
			href="/w/index.php?title=Sociedade_Cooperativa_Uni%C3%A3o_Piscat%C3%B3ria_Aldegalense&amp;action=edit&amp;redlink=1"
			class="new"
			title="Sociedade Cooperativa União Piscatória Aldegalense (página não existe)"
			>Sociedade Cooperativa União Piscatória Aldegalense</a
		>
		(SCUPA); em <a href="/wiki/1914" title="1914">1914</a> a
		<a
			href="/w/index.php?title=Banda_Democr%C3%A1tica_2_de_Janeiro&amp;action=edit&amp;redlink=1"
			class="new"
			title="Banda Democrática 2 de Janeiro (página não existe)"
			>Banda Democrática 2 de Janeiro</a
		>; em <a href="/wiki/1937" title="1937">1937</a> a União Mutualista de
		Nossa Senhora da Conceição; em
		<a href="/wiki/1939" title="1939">1939</a> o Ateneu Popular de Montijo; em
		<a href="/wiki/1948" title="1948">1948</a> a Tertúlia Tauromáquica e o
		<a href="/wiki/Clube_Desportivo_Montijo" title="Clube Desportivo Montijo"
			>Clube Desportivo de Montijo</a
		>, entre tantas outras associações e grémios.
	</p>
	<p>
		Até <a href="/wiki/6_de_junho" title="6 de junho">6 de junho</a> de
		<a href="/wiki/1930" title="1930">1930</a>, a sede de concelho era chamada
		de <i>Aldeia Gallega do Ribatejo</i> (ou simplesmente
		<i>Aldeia Gallega</i>), passando, a partir de então, a intitular-se
		Montijo, denominação assumida também pelo próprio concelho.
	</p>
	<p>
		Ainda na
		<a href="/wiki/D%C3%A9cada_de_1930" title="Década de 1930"
			>década de 1930</a
		>, logo no princípio da
		<a href="/wiki/Segunda_Guerra_Mundial" title="Segunda Guerra Mundial"
			>Segunda Guerra Mundial</a
		>, foi instalado na península de Montijo, o
		<a
			href="/w/index.php?title=Centro_de_Avia%C3%A7%C3%A3o_Naval_%22Comandante_Sacadura_Cabral%22&amp;action=edit&amp;redlink=1"
			class="new"
			title='Centro de Aviação Naval "Comandante Sacadura Cabral" (página não existe)'
			>Centro de Aviação Naval "Comandante Sacadura Cabral"</a
		>
		que, a <a href="/wiki/12_de_junho" title="12 de junho">12 de junho</a> de
		<a href="/wiki/1954" title="1954">1954</a>, foi incorporado na
		<a
			href="/wiki/For%C3%A7a_A%C3%A9rea_Portuguesa"
			title="Força Aérea Portuguesa"
			>Força Aérea Portuguesa</a
		>
		como
		<a
			href="/wiki/Base_A%C3%A9rea_de_Montijo"
			class="mw-redirect"
			title="Base Aérea de Montijo"
			>Base Aérea n.º 6</a
		>.<sup id="cite_ref-16" class="reference"
			><a href="#cite_note-16"><span>[</span>16<span>]</span></a></sup
		>
	</p>
	<p>
		Em <a href="/wiki/1942" title="1942">1942</a>, Montijo, então Vila,
		beneficiou de profundas obras de "melhoramentos locais", nomeadamente com
		a instalação da rede pública de abastecimento de água e o melhoramento e
		expansão da rede de iluminação elétrica. Ao longo da década seguinte (<a
			href="/wiki/1950"
			title="1950"
			>1950</a
		>) foram inaugurados o novo Palácio da Justiça (sede do Tribunal da
		Comarca de Montijo), a nova estação de correios, o Hospital Distrital, o
		Mercado Municipal, o
		<a
			href="/wiki/Cine-Teatro_Joaquim_de_Almeida"
			title="Cine-Teatro Joaquim de Almeida"
			>Cine-Teatro Joaquim de Almeida</a
		>, o Estabelecimento Prisional de Montijo (que vinha substituir a Cadeia
		Comarcã, inaugurada em <a href="/wiki/1879" title="1879">1879</a>), a
		<a href="/wiki/Pra%C3%A7a_de_touros" title="Praça de touros"
			>Praça de Touros Amadeu Augusto dos Santos</a
		>
		(que substituiria a velha Praça de Touros construída em
		<a href="/wiki/1888" title="1888">1888</a>), entre outros equipamentos.
		Inaugurou, também, dentro dos limites do concelho, a novíssima
		<a href="/wiki/Santo_Isidro_de_Peg%C3%B5es" title="Santo Isidro de Pegões"
			>Colónia Agrícola de Pegões</a
		><sup id="cite_ref-17" class="reference"
			><a href="#cite_note-17"><span>[</span>17<span>]</span></a></sup
		>, aí instalada pela
		<a
			href="/wiki/Junta_de_Coloniza%C3%A7%C3%A3o_Interna"
			title="Junta de Colonização Interna"
			>Junta de Colonização Interna</a
		>
		e que viria a constituir, por desanexação de áreas pertencentes às
		freguesias de <a href="/wiki/Canha" title="Canha">Canha</a> e Marateca, a
		freguesia de
		<a href="/wiki/Santo_Isidro_de_Peg%C3%B5es" title="Santo Isidro de Pegões"
			>Santo Isidro de Pegões</a
		>.
	</p>
	<p>
		Em <a href="/wiki/1985" title="1985">1985</a> a Vila de Montijo foi
		elevada à categoria de cidade. Nesse mesmo ano foram criadas as freguesias
		de
		<a href="/wiki/Atalaia" class="mw-disambig" title="Atalaia">Atalaia</a>,
		<a href="/wiki/Peg%C3%B5es" title="Pegões">Pegões</a>,
		<a
			href="/wiki/Alto_Estanqueiro_-_Jardia"
			title="Alto Estanqueiro - Jardia"
			>Alto Estanqueiro - Jardia</a
		>
		e, em <a href="/wiki/1989" title="1989">1989</a>, a freguesia de
		<a href="/wiki/Afonsoeiro" title="Afonsoeiro">Afonsoeiro</a>.
	</p>
	<p>
		Em <a href="/wiki/2002" title="2002">2002</a> foi inaugurado o novo
		<a href="/wiki/Transtejo_%26_Soflusa" title="Transtejo &amp; Soflusa"
			>Terminal Fluvial do Seixalinho</a
		>, a mais de 2&nbsp;km da cidade, assegurando a continuidade da travessia
		<a href="/wiki/Lisboa" title="Lisboa">Lisboa</a>-Montijo. A opção pela
		localização deste equipamento foi objeto de uma discussão polémica que
		ainda não está consensualizada na sociedade montijense.
	</p>
	<br />
    <p align="center"><a href="/"><img src="../static/images/MTJ.png"/></a></p>
	<br />
</div>

{% endblock %}